.circle {
  border-radius: 50%;
  width: 427px;
  height: 427px;
  background-color: #2138d0;
  position: fixed;
}

.first {
  border: 1px solid rgba(126, 143, 249, 0.36);
  left: 163px;
  top: -133px;
}

.second {
  right: 92px;
  top: 126px;
  height: 600px;
  width: 600px;
  background-color: rgba(140, 165, 255, 0.25);
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
}

.inner-circle {
  background-color: #8ac1f4;
  right: 223px;
  top: 212px;
}

.third {
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  left: 90px;
  top: 621px;
}
