@font-face {
    font-family: 'palanquin';
    src: url('./assets/Palanquin/Palanquin-Regular.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('./assets/Poppins/Poppins-Regular.ttf');
}
